/* Bethany Baril 
Art 116 - Design for the Web I */

body{
	font-family:Bree, semibold, sans-serif;
	font-size: x-large;
}

body, html {
	min-height:100%;
}

h2{
	color: #149bef;
	position: relative;
	text-align: center;
	word-spacing: 50px;
	background-image:url(../images/banner5.jpg);
	background-size: 50%;

} 

h3{
	text-align: left;
	padding-right: 200px;
	font-size: 28px;	
}


nav{
	width: 100%;
	position: relative;
	Bottom: 0;
	top: -136px;
	left: 150px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 50px;
	
}

nav ul li a{
	color:#149bef;
	text-decoration: none;
	
}

nav ul li a:hover{
	color:#1b4660;
}

nav ul li{
	font-size: 42px;
	list-style-type: none;
	float: left;
	margin-left: 15px;
	margin-right: 15px;
	padding-left: 80px;
}

.body {
    margin: 0;
    font-family:bree, semibold, sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #44aff2;
    text-align: left;
	padding-left: 20px;
  	background-image: url(../images/background3.jpg);
	background-size: 100%;
	background-repeat: repeat-y;
}

header {
	background-image: url(../images/banner4.jpg);
	background-size: 100%;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 97%;
	padding: 15px;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.0rem + 0.50rem + 2px);
    padding: 0.375rem 0.50rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    border: 1px solid #313131;
}

select.form-control[size], select.form-control[multiple] {
    height: auto;
}

textarea.form-control {
    font-family:bree, semibold, sans-serif;
    height: auto;
}

label.label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.btn {
    display: inline-block;
	font-family:bree, semibold, sans-serif;
    font-weight: 400;
    color: #44aff2;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}

.btn:hover {
    color: #1b4660;
    text-decoration: none;
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-primary {
    color: #ffffff;
    background-color: #44aff2;
}

.btn-primary:hover {
    color: #1b4660;
    background-color: #44aff2;
    border-color: #0062cc;
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-lg, .btn-group-lg>.btn {
    padding: 0.5rem 1rem;
    font-size: 22px;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.btn-block {
    display: block;
    width: 98%;
}

.btn-block+.btn-block {
    margin-top: 0.5rem;
}

input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
    width: 100%;
}

/* this is to get the logo on the same line as the contact link with phone number*/
.column1 {
	float: left;
	width: 50%;
}

.column2 {
	float: right;
	
}

.row1::after {
	content: "";
	clear: both;
	display: table;
}
